@font-face {
  font-family: 'Sahel';
  src: url('/fonts/sahel/Sahel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/Vazir.woff2') format('woff2'),
       url('/fonts/vazir/Vazir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
